body{
background-color: #ffffff;

}

nav {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #2b2b2b;
    padding: 10px 40px;
    border: solid 1px #020202;
    border-radius: 10px;
    display: block;
    position: relative;
    text-align: right; /* เพิ่มบรรทัดนี้ */
    width: 100%; /* เพิ่มบรรทัดนี้ */
  }
 
  
 
  nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    color: #ffffff;
    
    /* จัดให้อยู่กลางตามแนวนอน */
    
    transform: translateX(-50%);
    display: inline-block; /* เพิ่มบรรทัดนี้ */
}
nav a::after{
    content: '';
    position: absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    background-image: linear-gradient(to right,#69ee41,#f8bebe);
    bottom: -10px;
    right: 3.5%;
    transform: translate(-50%);
    border-radius: 25px;
    transition: .4s;
    display: block;

}

nav a:hover::after{
    width: 50%;
    opacity: 1;
    display: block;
}

.logo{
    width: 30px;
    
    position: absolute;
    left: -1px;
    transform: translate(-50%);
    top: -5px;
    float: left; /* เพิ่มบรรทัดนี้ */
}
.experience{
    width: 200px;
    
    position: relative;
    top: 10px; /* เพิ่มบรรทัดนี้ */
    
    transform: translate(-50%);
    
    display: inline-block; /* เพิ่มบรรทัดนี้ */
    margin-right: 10px; /* เพิ่มบรรทัดนี้ */
}

.course-and-certificate{
    width: 200px;
    
    position: relative;
    top: 10px; /* เพิ่มบรรทัดนี้ */
    
    transform: translate(-50%);
    
    display: inline-block; /* เพิ่มบรรทัดนี้ */
}

.profile  {
    border-radius: 35%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-style: dotted; color: aliceblue;
  

}

.profile img{
    object-fit: cover;
    transition: transform 0.1s;
    height: 100%;
    width: 200px; /* กำหนดความกว้างที่คุณต้องการ */
    height: auto; /* ปรับสูงอัตโนมัติเพื่อรักษาสัดส่วนของรูปภาพ */
  
    
}
.profile:hover img{
    transform: scale(1.5);
}

h1{
    font-size: 4em;
    
}

h2{
    font-size: 3em;
}

/* ส่วนของปุ่ม */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff; /* สีพื้นหลัง */
    color: #000000; /* สีข้อความ */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* เพื่อให้มีการเปลี่ยนสีเมื่อนำเมาส์ไปชี้ */
  }
  
  /* การเมาส์ไปชี้ปุ่ม */
  .btn:hover {
    background-color: #000000; /* สีพื้นหลังเมื่อนำเมาส์ไปชี้ */
    color: #ffffff;
  }
 