body{
    background-image: linear-gradient(to right,#D2E0FB,#F9F3CC,#D7E5CA);
    
    }
    
    nav {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        background: #ffffff;
        padding: 10px 40px;
        border: solid 1px #020202;
        border-radius: 10px;
        display: block;
        position: relative;
        text-align: right; /* เพิ่มบรรทัดนี้ */
        width: 100%; /* เพิ่มบรรทัดนี้ */
      }
     
      
     
      nav a {
        text-decoration: none;
        margin: 0 15px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
        color: #020202;
        
        /* จัดให้อยู่กลางตามแนวนอน */
        
        transform: translateX(-50%);
        display: inline-block; /* เพิ่มบรรทัดนี้ */
    }
    nav a::after{
        content: '';
        position: absolute;
        width: 10%;
        opacity: 0;
        height: 5px;
        background-image: linear-gradient(to right,#69ee41,#f8bebe);
        bottom: -10px;
        right: 3.5%;
        transform: translate(-50%);
        border-radius: 25px;
        transition: .4s;
        display: block;
    
    }
    
    nav a:hover::after{
        width: 50%;
        opacity: 1;
        display: block;
    }
    
    .logo{
        width: 50px;
        
        position: absolute;
        left: -1px;
        transform: translate(-50%);
        top: -5px;
        float: left; /* เพิ่มบรรทัดนี้ */
    }

    .main{
        height: 450px ;
        background-color: #F0F0F0;
        font-size: 14px;
        color: #000000;
        border: 1px solid #000000;
        padding: 15px;
        border-radius: 5px;
        
        
    }

  
      .bottom1{
        background-color: #b3b3b3;
        
        size: 100%;
      }
      

   
   